In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [4]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.29-cp39-cp39-win_amd64.whl.metadata (9.8 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.11.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.29-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 2.1/2.1 MB 4.3 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl (290 kB)
   ---------------------------------------- 290.8/290.8 kB 9.1 MB/s eta 0:00:00
Using cached typing_extensions-4.11.0-py3-none-any.whl (34 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.4.0
    Uninstalling typing_extensions-4.4.0:
      Successfully uninstalled typing_extensions-4.4.0
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.29 typing-extensions-4.11.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.5.0 requires numpy~=1.19.2, but you have numpy 1.23.5 which is incompatible.
tensorflow 2.5.0 requires typing-extensions~=3.7.4, but you have typing-extensions 4.11.0 which is incompatible.

In [18]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\sid\appdata\local\programs\python\python39\lib\site-packages (2.9.9)Note: you may need to restart the kernel to use updated packages.

In [31]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
connection = engine.connect()

In [33]:
query = "SELECT 1 as number"
df = pd.read_sql(text(query), con = connection)
df

   number
0       1